SortIncludes: Never
ReflowComments: false

AlwaysBreakAfterDefinitionReturnType: TopLevel
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
AlignConsecutiveMacros: Consecutive
ContinuationIndentWidth: 2
BreakStringLiterals: false
